// # Desktop Variables
// These variables set defaults for the `desktop` CSS sent to optimizely.com.
// Variables set by `core` can also be overriden here as needed.

// ### Layout Width
// Widths for major layout elements.

$layout-width: (
  body                : 1120px,
  data-sidebar        : 370px,
  single-column       : 640px,
  project-drawer      : 320px
);

// ### Desktop z-index
// All z-index values should live here.

$z-index: (
  notification       : 1002 // Higher than nav bar. Legacy fix.
);

// ### Font Sizes
// These are defined in core but different values can be overriden here.

// $font-size: (
//   base                : 14px,
//   micro               : 13px,
//   milli               : 11px,

//   alpha               : 26px, // h1
//   beta                : 24px, // h2
//   gamma               : 22px, // h3
//   delta               : 18px, // h4
//   epsilon             : 14px, // h5
//   zeta                : 13px, // h6

//   kilo                : 42px, // Extra large fonts.
//   mega                : 50px,
//   giga                : 65px
// );
