// # Desktop Variables
// These variables set defaults for the `desktop` CSS sent to optimizely.com.
// Variables set by `core` can also be overriden here as needed.

// ### Layout Width
// Widths for major layout elements.

$layout-width: (
  body                : 1120px,
  data-sidebar        : 370px,
  single-column       : 640px,
  reading             : 800px,
  project-drawer      : 320px
);

// ### Desktop z-index
// All z-index values should live here.

$z-index: (
  notification       : 1002, // Higher than nav bar. Legacy fix.
  poptip             : 3001, // Higher than old dialogs. Legacy fix.
  project-drawer     : 2999
);