//# General Overrides
// Overriding LEGO to restore legacy styling.

body {
  color: inherit;
  background: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  width: auto;
}

li {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style-position: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

p {
  font-size: inherit;
  line-height: inherit;
}
