// # Top Nav
// These override LEGO to restore legacy styling.

#top {
  .logo {
    margin-bottom: 0;
  }

  .nav-top {
    > li > a {
      font-size: 13px;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        color: #fff;
      }

      img {
        display: inline-block;
      }
    }
  }

  .dropdown-menu-top {

    a {
      font-size: 12px;
      color: #444;

      &:hover {
        color: #444;
        text-decoration: underline;
      }
    }
  }
}