// # Integration Icon
// Extends media object to create icon and badge.

.lego-integration-icon {
  @extend %lego-media;

  .lego-media__img {
    box-shadow: 0 0 map-get($shadow, base);
  }

  &__level {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 400;
  }
}