// # Notification
// Shows a small notification at the top of the screen.

// ## Example

//[c]
//     <div class="lego-notification--wrap">
//       <div class="lego-notification">
//         This is a notification.
//       </div>
//       <div class="lego-notification lego-notification--basic">
//         This is a notification.
//       </div>
//       <div class="lego-notification lego-notification--warning">
//         This is a notification asdfas.
//       </div>
//       <div class="lego-notification lego-notification--good-news">
//         This is a notification asdfas.
//       </div>
//       <div class="lego-notification lego-notification--bad-news">
//         This is a notification.
//       </div>
//     </div>
//[/c]

// ## SCSS


.lego-notification {
  @extend %lego-attention;
  @include transition(opacity map-get($transition-duration, fast));
  padding: spacer(0.5) spacer(1);
  font-size: map-get($font-size, milli);
  box-shadow: 0 2px map-get($shadow, light);
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;

  &--basic {
    @extend %lego-attention--basic;
  }

  &--warning {
    @extend %lego-attention--warning;
  }

  &--good-news {
    @extend %lego-attention--good-news;
  }

  &--bad-news {
    @extend %lego-attention--bad-news;
  }

  &--wrap {
    position: fixed;
    top: spacer(3);
    left: 50%;
    z-index: map-get($z-index, notification);
  }

  + .lego-notification {
    margin-top: spacer(0.5);
  }

  &--active {
    opacity: 1;
  }
}
