// # Top Nav
// Styling for top nav.

.lego-top-nav {
  @extend %flex;
  background-color: map-get($background-color, blue-dark);
  color: map-get($font-color, white);
  padding: 0 spacer(2);

  &__item {
    margin-right: spacer(2);

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @extend %link--reverse;
    display: block;
    padding: spacer(1) 0;
  }
}
