// # Layout
// Classes for building page layouts. Use this only to build the major
// layout areas of a page.

%lego-pane-group,
.lego-pane-group {
  @extend %flex;

  &--column {
    @extend %flex-direction--column;
  }
}

%lego-pane,
.lego-pane {

  &--full {
    height: 100%;
  }

  &--flex {
    @extend %flex;
  }

  &--flex-1 {
    @extend %flex-1;
  }

  &--scroll-y {
    overflow-y: auto;
  }
}

// ### Lego Fence
// This adds padding or margin to full-width items
// to move them away from the walls for their container.

%lego-fence--soft,
.lego-fence--soft {
  padding-left: spacer(2);
  padding-right: spacer(2);
}

%lego-fence--push,
.lego-fence--push {
  margin-left: spacer(2);
  margin-right: spacer(2);
}
