// # Layout
// Classes for building page layouts.

%lego-pane-group,
.lego-pane-group {
  @extend %flex;

  &--column {
    @extend %flex-direction--column;
  }
}

.lego-pane--full {
  height: 100%;
}

%lego-pane,
.lego-pane {

  &--flex {
    @extend %flex-1;
  }
}

%lego-pane--scroll-y,
.lego-pane--scroll-y {
  overflow-y: auto;
}

%lego-fence,
.lego-fence {
  padding-left: spacer(2);
  padding-right: spacer(2);
}
