////
/// Button Row
/// @description For buttons that align left or right with space between them.
/// @example[html] Left aligned button row.
///   <div class="#{$namespace}button-row--left">
///     <button class="#{$namespace}button">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--brand">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--highlight">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--danger">Button</button>
///   </div>
/// @example[html] Center aligned button row.
///   <div class="#{$namespace}button-row--center">
///     <button class="#{$namespace}button">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--brand">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--highlight">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--danger">Button</button>
///   </div>
/// @example[html] Right aligned button row.
///   <div class="#{$namespace}button-row--right">
///     <button class="#{$namespace}button">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--brand">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--highlight">Button</button>
///     <button class="#{$namespace}button #{$namespace}button--danger">Button</button>
///   </div>
////

%#{$namespace}button-row,
.#{$namespace}button-row {

  &--left {

    .#{$namespace}button {
      margin-right: spacer(1);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--right {
    text-align: right;

    .#{$namespace}button {
      margin-left: spacer(1);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &--center {
    text-align: center;

    .#{$namespace}button {
      margin-left: spacer(0.5);
      margin-right: spacer(0.5);
    }
  }
}
