// ---
// title: Buttons
// description: These are the default button styles. `!important` is used on colors so override default colors.
// ---

// ### Button Variables
// Shadows for buttons.

%#{$namespace}button,
.#{$namespace}button {
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
  line-height: map-fetch($button, size base height);
  border-width: 1px;
  border-style: solid;
  font-size: map-fetch($button, size base font-size);
  font-weight: map-fetch($button, size base font-weight);
  border-radius: map-fetch($button, size base border-radius);
  height: map-fetch($button, size base height);
  padding: map-fetch($button, size base padding);

  // Unique styles for the base button start here.
  background-color: map-fetch($button, type base background);
  border-color: map-fetch($button, type base border);
  color: map-fetch($button, type base color) !important;

  &:hover {
    background: map-fetch($button, type base hover background);
    border-color: map-fetch($button, type base hover border);
    color: map-fetch($button, type base hover color) !important;
  }

  &:active {
    background: map-fetch($button, type base active background);
    border-color: map-fetch($button, type base active border);
    color: map-fetch($button, type base active color) !important;
  }

  &--highlight {
    background-color: map-fetch($button, type highlight background);
    border-color: map-fetch($button, type highlight border);
    color: map-fetch($color, text white) !important;

    &:hover {
      background: map-fetch($button, type highlight hover background);
      border-color: map-fetch($button, type highlight hover border);
    }

    &:active {
      background: map-fetch($button, type highlight active background);
      border-color: map-fetch($button, type highlight active border);
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-fetch($color, text white) !important;
    }
  }

  &--outline {
    background-color: map-fetch($button, type outline background);
    border-color: map-fetch($button, type outline border);
    color: map-fetch($button, type outline color) !important;

    &:hover {
      background: map-fetch($button, type outline hover background);
      border-color: map-fetch($button, type outline hover border);
      color: map-fetch($button, type outline hover color) !important;
    }

    &:active {
      background: map-fetch($button, type outline active background);
      border-color: map-fetch($button, type outline active border);
      color: map-fetch($button, type outline active color) !important;
    }
  }

  &--outline-reverse {
    background-color: map-fetch($button, type outline-reverse background);
    border-color: map-fetch($button, type outline-reverse border);
    color: map-fetch($button, type outline-reverse color) !important;

    &:hover {
      background: map-fetch($button, type outline-reverse hover background);
      border-color: map-fetch($button, type outline-reverse hover border);
      color: map-fetch($button, type outline-reverse hover color) !important;
    }

    &:active {
      background: map-fetch($button, type outline-reverse active background);
      border-color: map-fetch($button, type outline-reverse active border);
      color: map-fetch($button, type outline-reverse active color) !important;
    }
  }

  &--extra {
    background-color: map-fetch($button, type extra background);
    border-color: map-fetch($button, type extra border);
    color: map-fetch($color, text white) !important;

    &:hover {
      background: map-fetch($button, type extra hover background);
      border-color: map-fetch($button, type extra hover border);
    }

    &:active {
      background: map-fetch($button, type extra active background);
      border-color: map-fetch($button, type extra active border);
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-fetch($color, text white) !important;
    }
  }

  &--dismiss {
    background-color: map-fetch($button, type dismiss background);
    border-color: map-fetch($button, type dismiss border);
    color: map-fetch($button, type dismiss color) !important;

    &:hover {
      background: map-fetch($button, type dismiss hover background);
      border-color: map-fetch($button, type dismiss hover border);
    }

    &:active {
      background: map-fetch($button, type dismiss active background);
      border-color: map-fetch($button, type dismiss active border);
    }
  }

  &--danger {
    background-color: map-fetch($button, type danger background);
    border-color: map-fetch($button, type danger border);
    color: map-fetch($color, text white) !important;

    &:hover {
      background: map-fetch($button, type danger hover background);
      border-color: map-fetch($button, type danger hover border);
    }

    &:active {
      background: map-fetch($button, type danger active background);
      border-color: map-fetch($button, type danger active border);
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-fetch($color, text white) !important;
    }
  }

  // ### Button Sizes
  // Button size variations.

  &--small {
    font-size: map-fetch($button, size small font-size);
    font-weight: map-fetch($button, size small font-weight);
    border-radius: map-fetch($button, size small border-radius);
    line-height: map-fetch($button, size small height);
    height: map-fetch($button, size small height);
    padding: map-fetch($button, size small padding);
  }

  &--full {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  // ### With Icon
  // Some extra help is needed to get the icon and text to line up.

  &--icon {
    line-height: 1.4;

    .#{$namespace}icon {
      vertical-align: sub;
    }
  }

  // ### Disabled State
  // Used either an attribute or a class, depending on the use case.

  // ### Disabled State
  // Used either an attribute or a class, depending on the use case.

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus,
  &--disabled,
  &--disabled:hover,
  &--disabled:active,
  &--disabled:focus {
    cursor: default;
    box-shadow: none;
    background-color: map-fetch($button, type disabled background);
    border-color: map-fetch($button, type disabled border);
    color: map-fetch($button, type disabled color) !important;

    &.#{$namespace}button--dismiss {
      background-color: map-fetch($button, type dismiss background);
      border-color: map-fetch($button, type dismiss border);
    }
  }
}
