////
/// Dropdown
/// @description A list of links that drops down from a trigger.
/// @group Objects
/// @example[html] Dropdown default
///   <div class="#{$namespace}dropdown-group" v-dropdown>
///     <button class="#{$namespace}button" data-toggle-dropdown>
///       Dropdown <span class="#{$namespace}arrow-inline--down"></span>
///     </button>
///     <ul class="#{$namespace}dropdown">
///       <li class="#{$namespace}dropdown__item">
///         <a href="#" class="#{$namespace}dropdown__block-link">Manage Collaborators</a>
///         <a href="#" class="#{$namespace}dropdown__block-link">Manage This Thing</a>
///       </li>
///       <li class="#{$namespace}dropdown__item">
///         <a href="#" class="#{$namespace}dropdown__block-link">Experiment Change History</a>
///       </li>
///     </ul>
///   </div>
/// @example[html] Dropdown right
///   <div class="text--right">
///     <div class="#{$namespace}dropdown-group" v-dropdown>
///       <button class="#{$namespace}button" data-toggle-dropdown>
///         Dropdown <span class="#{$namespace}arrow-inline--down"></span>
///       </button>
///       <ul class="#{$namespace}dropdown #{$namespace}dropdown--right">
///         <li class="#{$namespace}dropdown__item">
///           <a href="#" class="#{$namespace}dropdown__block-link">Manage Collaborators</a>
///           <a href="#" class="#{$namespace}dropdown__block-link">Manage This Thing</a>
///         </li>
///         <li class="#{$namespace}dropdown__item">
///           <a href="#" class="#{$namespace}dropdown__block-link">Experiment Change History</a>
///         </li>
///       </ul>
///     </div>
///   </div>
/// @example[html] Dropdown without block links
///   <div class="#{$namespace}dropdown-group" v-dropdown>
///     <button class="#{$namespace}button" data-toggle-dropdown>
///       Dropdown <span class="#{$namespace}arrow-inline--down"></span>
///     </button>
///     <ul class="#{$namespace}dropdown">
///       <li class="#{$namespace}dropdown__item">
///         <a href="#">Manage Collaborators</a> and some text
///       </li>
///       <li class="#{$namespace}dropdown__item">
///         <a href="#" class="#{$namespace}dropdown__block-link">Experiment Change History</a>
///         <a href="#" class="#{$namespace}dropdown__block-link">Another Link</a>
///       </li>
///     </ul>
///   </div>
/// @example[html] Dropdown with filter
///   <div class="#{$namespace}dropdown-group" v-dropdown>
///     <button class="#{$namespace}button" data-toggle-dropdown>
///       Dropdown <span class="#{$namespace}arrow-inline--down"></span>
///     </button>
///     <ul class="#{$namespace}dropdown">
///       <li class="#{$namespace}dropdown__item">
///         <form class="soft-half--ends">
///             <input type="text" class="#{$namespace}text-input #{$namespace}text-input--search">
///         </form>
///       </li>
///       <li class="#{$namespace}dropdown__item">
///         <a href="#" class="#{$namespace}dropdown__block-link">Experiment Change History</a>
///       </li>
///     </ul>
///   </div>
/// @example[html] Dropdown inside input
///   <div class="#{$namespace}dropdown-group" v-dropdown>
///     <input type="text" class="#{$namespace}text-input" data-toggle-dropdown />
///     <ul class="#{$namespace}dropdown">
///       <li class="#{$namespace}dropdown__item">
///         <a href="#" class="#{$namespace}dropdown__block-link">Item One</a>
///         <a href="#" class="#{$namespace}dropdown__block-link">Item Two</a>
///       </li>
///     </ul>
///   </div>
////

.#{$namespace}dropdown-group {
  font-size: map-fetch($font, size base);
  display: inline-block;
  position: relative;
  vertical-align: top;

  &.is-active {
    .#{$namespace}dropdown {
      visibility: visible;
    }
  }
}

%#{$namespace}dropdown,
.#{$namespace}dropdown {
  @extend %#{$namespace}block-list-group;
  background: map-fetch($color, background white);
  box-shadow: 0 2px map-fetch($shadow, light);
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: auto;
  z-index: 1;
  margin-top: 2px;
  text-align: left;
  visibility: hidden;

  &__item {
    white-space: nowrap;
    color: map-fetch($color, text base);

    &--active {
      background: map-fetch($color, background faint);
    }
  }

  &__block-link {
    @extend %#{$namespace}block-list__link;
  }

  &--right {
    right: 0;
    left: auto;
  }
}
