@mixin matrix($columns: null, $spacing: 2, $responsive: null) {
  @extend %#{$namespace}grid;
  margin-left: -(spacer($spacing));

  > li {
    padding-left: spacer($spacing);
  }

  @if ($columns) {
    &--1-#{$columns} {
      > li {
        width: percentage(1/$columns);
      }
    }
  }

  @if ($responsive) {
    @include breakpoint($max: $responsive) {
      display: block;
      margin-left: 0;

      > li {
        padding-left: 0;
        margin-bottom: spacer($spacing);
        width: auto;
      }
    }
  }
}
