// # Dropdown
// A list of links that drops down from a trigger.

// We use this group to wrap button and the dropdown.

.dropdown-group {
    font-size: map-get($font-size, base);
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.dropdown {
    @extend %block-list-group;
    background: map-get($background-color, white);
    box-shadow: 0 2px map-get($box-shadow, light);
    position: absolute;
    top: 100%;
    left: auto;
    z-index: 1;
    margin-top: 2px;

    &__item {
        white-space: nowrap;
    }

    a {
        @extend %block-list__link;
    }

    &--right {
        right: 0;
        left: auto;
    }
}