// # Drop Target
// Creates a drop area for drag/drop usage. Height can be adjusted.

%drop-target,
.drop-target {
    @extend %island--center;
    border: 3px dashed map-get($ui-color, light);
    border-radius: map-get($border-radius, big);
    padding-top: spacer(1);
    padding-bottom: spacer(1);

    &__text{
        color: map-get($font-color, muted);
    }

    &:hover {
        border-color: map-get($ui-color, base)
    }
}
