// # Poptips
// Information bubbles on hover. Almost always used with postition: absolute.

$pop-tip-background: map-get($ui-color, dark);

.lego-pop-tip {
    background: $pop-tip-background;
    color: map-get($font-color, white);
    border-radius: map-get($border-radius, base);
    font-size: map-get($font-size, micro);
    padding: spacer(.5) spacer(1);
    max-width: 250px;
    display: inline-block;

    // Arrow options.

    &--arrow-top {
        @include arrow(top, center, $pop-tip-background);
    }

    &--arrow-bottom {
        @include arrow(bottom, center, $pop-tip-background);
    }

    &--arrow-left {
        @include arrow(left, center, $pop-tip-background);
    }

    &--arrow-right {
        @include arrow(right, center, $pop-tip-background);
    }
}
