// ---
// title: Disclose
// description: Similar to an accordion but any number of items can be opened closed independently.
// ---

// [---]

.#{$namespace}disclose {
  @extend %kill-last-child-margin;

  &__link {
    display: block;
    position: relative;
    margin-bottom: 5px;
  }

  &__symbol {
    @include transition(transform map-fetch($transition-duration, base));
    width: spacer(1);
    display: inline-block;
    // This makes clicking the arrow icon still open the disclose object.
    pointer-events: none;

    &::before {
      line-height: 1;
      font-size: map-fetch($font, size micro);
      content: '\25B6';
    }
  }

  // By default item is closed.

  &__content {
    display: none;
  }

  &__item {
    margin-bottom: spacer(1);
  }

  &.is-active {

    .#{$namespace}disclose__content {
      display: block;
    }

    .#{$namespace}disclose__symbol {
      @include transform(rotate(90deg));
    }
  }
}
