////
/// Icons
/// @group Objects
////

/// SVG Icons
/// @description The color of the SVG will inherit the parent's `color`.
///
/// **Need help?:** Ask an UI Engineer on [#oui](https://optimizely.slack.com/messages/oui)
/// if you need access to the icons.

.#{$namespace}icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;

  &--small {
    width: 12px;
    height: 12px;
  }

  &--large {
    width: 32px;
    height: 32px;
  }

  // This is a vertical alignment fix when used to the right of `.#{$namespace}icon`.
  + [class^="#{$namespace}-arrow-inline"] {
    vertical-align: super;
  }

  &--text-align {
    position: relative;
    top: 2px; // This moves the inline icon down so it is visually aligned with the text.
  }
}

/// Icon alignment fixes
/// @description Fix for icons inside buttons with text and icons inside tabs.

.#{$namespace}button .#{$namespace}icon {
  vertical-align: sub;
}

.#{$namespace}tabs-nav__item .#{$namespace}icon {
  vertical-align: sub;
}

/// Activity Icons
/// @description Used for showing the status item.
/// @example[html] Activity icons within a `.block-list-group`.
///   <ul class="#{$namespace}block-list-group">
///     <li>
///       <div class="#{$namespace}media">
///         <span class="icon-status--active #{$namespace}media__img flush--top"></span>
///         <div class="#{$namespace}media__body">
///           <p>This is the active item.</p>
///         </div>
///       </div>
///     </li>
///     <li>
///       <div class="#{$namespace}media">
///         <span class="icon-status--good-news #{$namespace}media__img flush--top"></span>
///         <div class="#{$namespace}media__body">
///           <p>This is good.</p>
///         </div>
///       </div>
///     </li>
///     <li>
///       <div class="#{$namespace}media">
///         <span class="icon-status--bad-news #{$namespace}media__img flush--top"></span>
///         <div class="#{$namespace}media__body">
///           <p>This is probably not good.</p>
///         </div>
///       </div>
///     </li>
///     <li>
///       <div class="#{$namespace}media">
///         <span class="icon-status--empty #{$namespace}media__img flush--top"></span>
///         <div class="#{$namespace}media__body">
///           <p>This is not active but holds the space if needed.</p>
///         </div>
///       </div>
///     </li>
///   </ul>

.icon-status {

  &--active,
  &--bad-news,
  &--good-news,
  &--empty {
    &::before {
      content: '';
      border-radius: map-fetch($border, radius, full);
      display: inline-block;
      width: 10px;
      height: 10px;
    }
  }

  &--active::before {
    background: map-fetch($color, ui, brand);
  }

  &--bad-news::before {
    background: map-fetch($color, ui, bad-news);
  }

  &--good-news::before {
    background: map-fetch($color, ui, good-news);
  }
}
