// # Input Icons
// Adding svg icons, like search or calendar, to the left and/or right of inputs.
// Use padding classes on input as needed to provide space, e.g. `soft-triple--left`.

// <div class="lego-input-icon">
//   <input type="text" class="lego-text-input soft-triple--sides width--150">
//   <svg class="lego-icon lego-input-icon__left lego-input-icon__muted">
//     <use xlink:href="#calendar-16"></use>
//   </svg>
//   <svg class="lego-icon lego-input-icon__right">
//     <use xlink:href="#arrow-down-16"></use>
//   </svg>
// </div>

.#{$namespace}input-icon {
  position: relative;

  &__left,
  &__right {
    @include transform(translateY(-50%));
    pointer-events: none;
    position: absolute;
    top: 50%;
  }

  &__left {
    left: spacer(1);
  }

  &__right {
    right: spacer(1);
  }

  &__muted {
    fill: map-fetch($color, ui medium);
  }
}
