// # Split

// ## Split
// Split right/left any 2 elements inside a parent container.


.split {
    @extend %flex;
    @extend %justify--space-between;
    text-align: right;

    &__title {
        text-align: left;
        margin-right: spacer(1);
    }
}
