// # Desktop Variables
// These variables set defaults for the `desktop` CSS send to optimizely.com.
// You can also override variables set in `core` as needed.

// ### Layout Width
// Widths for major layout elements.

$layout-width: (
  body                : 1120px,
  data-sidebar        : 340px
);

// ### Font Sizes

$font-size: (
  base                : 12px,
  micro               : 10px,
  milli               : 11px,

  alpha               : 36px, // h1
  beta                : 30px, // h2
  gamma               : 24px, // h3
  delta               : 20px, // h4
  epsilon             : 16px, // h5
  zeta                : 12px, // h6

  kilo                : 70px, // Extra large fonts.
  mega                : 86px,
  giga                : 96px
);

// ### Line Heights
// Specifying variable instead of inside map so it can be used by line-height mixin.

$line-height: (
  base                : 1.6,
  tight               : 1.2,
  loose               : 1.8
);
