////
/// OUI
/// @description Root file compiling only OUI CSS.
/// @group Core
/// @advanced
////

$include-fonts:(
  weights: 300 400 500 600 700,
  italics: true
);

/// OUI variables
@import 'oui-variables';

/// OUI partials
@import 'oui-partials';

/// Trumps
/// @description Trumps use `!important` classes for overrides and should
/// always be loaded last.
@import 'partials/trumps/background';
@import 'partials/trumps/borders';
@import 'partials/trumps/layout';
@import 'partials/trumps/margin';
@import 'partials/trumps/padding';
@import 'partials/trumps/type';
@import 'partials/trumps/sizing';
