// ---
// title: Matrix
// description: Creates rows of elements with one parent, extending `lego-grid`.
// example: `@include matrix;` to include your own margin/padding/columns.
//          `@include matrix(2, 300px);` to include default spacing with 2 columns and responsive at 300px
// ---

@mixin matrix($number: null, $responsive: null) {
  @extend %#{$namespace}grid;
  margin-left: -(spacer(2));

  > li {
    padding-left: spacer(2);
  }

  @if ($number) {
    &--1-#{$number} {
      > li {
        width: percentage(1/$number)
      }
    }
  }

  @if ($responsive) {
    @include breakpoint($max: $responsive) {
      display: block;
      margin-left: 0;

      > li {
        padding-left: 0;
        margin-bottom: spacer(2);
        width: auto;
      }
    }
  }
}

// Some classes provided out of the box.

%#{$namespace}matrix,
.#{$namespace}matrix {
  @include matrix(2);
}

%#{$namespace}matrix,
.#{$namespace}matrix {
  @include matrix(3);
}

%#{$namespace}matrix,
.#{$namespace}matrix {
  @include matrix(4);
}
