// ---
// title: Stats
// description: Simple object to display key-value statistic-like information, for example Issue counts.
// ---


// <div class="example html">
//   <div class="lego-stat-group">
//     <div class="lego-stat">
//       <div class="stat__value">200</div>
//       <div class="stat__title">Visitors</div>
//     </div>
//     <div class="lego-stat">
//       <div class="stat__value">7000</div>
//       <div class="stat__title">View</div>
//     </div>
//     <div class="lego-stat">
//       <div class="stat__value">9,600</div>
//       <div class="stat__title">Followers</div>
//     </div>
//   </div>
// </div>

// [---]

%#{$namespace}stat-group,
.#{$namespace}stat-group {
  @include display(flex);
}

%#{$namespace}stat,
.#{$namespace}stat {
  margin-right: spacer(1);
}
