
// # Core Variables
// Variables for all elements and objects in core should be listed here.

// ## Colors
// Default color for objects' borders etc.

// IMPORTANT Do not use these values directly. Use the more specifically named
// variables below that use these black and grey values.

$base-black                    : #444B4F;
$base-white                    : #fff;
$grey-90                       : tint($base-black, 10%);
$grey-85                       : tint($base-black, 15%);
$grey-80                       : tint($base-black, 20%);
$grey-70                       : tint($base-black, 30%);
$grey-60                       : tint($base-black, 40%);
$grey-50                       : tint($base-black, 50%);
$grey-40                       : tint($base-black, 60%);
$grey-35                       : tint($base-black, 65%);
$grey-30                       : tint($base-black, 70%);
$grey-25                       : tint($base-black, 75%);
$grey-20                       : tint($base-black, 80%);
$grey-12                       : tint($base-black, 88%);
$grey-06                       : tint($base-black, 94%);
$grey-03                       : tint($base-black, 97%);

// ### Base Colors
// These are colors can be used on UI elements like borders.

$ui-color: (
  white                        : $base-white,
  faint                        : $grey-03,
  light                        : $grey-06,
  base                         : $grey-12,
  silver                       : $grey-20,
  medium                       : $grey-40,
  dark                         : $grey-85,
  black                        : $base-black,

  // Primary colors
  blue-ocean                   : #00415d,
  blue-ocean-light             : #3b5871,
  green                        : #0b9d76,

  // Secondary colors
  blue-optimum                 : #0074b4,
  blue-optimum-light           : #9acce2,

  // Tertiary colors
  red                          : #e1364b,
  green-winning                : #14a54a,
  yellow                       : #f4b852,
  orange                       : #f26f5a,
  pink                         : #ef5c9e,
  purple                       : #9669ad,
  indigo                       : #5d65ae,
  turquoise                    : #20acc1,
  turquoise-dark               : #2f7f91,
  blue-gray                    : #4e576a,
);

// ### Link Colors
// For anchor links.

$link-color: (
  base                         : #0088c1,
  hover                        : #90c2e3,
  active                       : #015A8B,
  blue-optimum                 : map-get($ui-color, blue-optimum),
  blue-optimum-light           : lighten(map-get($ui-color, blue-optimum), 50%),
  white                        : map-get($ui-color, $base-white)
);

// ### Background colors

$background-color: (
  base                         : $base-white,
  white                        : $base-white,
  faint                        : $grey-03,
  light                        : $grey-06,
  muted                        : $grey-35,
  medium                       : $grey-50,

  blue-optimum                 : map-get($ui-color, blue-optimum),
  blue-ocean                   : map-get($ui-color, blue-ocean),
  blue-optimum-light           : tint(map-get($ui-color, blue-optimum), 95%),
  warning                      : tint(map-get($ui-color, yellow), 85%),
  bad-news                     : tint(map-get($ui-color, red), 90%),
  good-news                    : tint(map-get($ui-color, green-winning), 95%)
);

// ### Font Colors

$font-color: (
  base                         : $base-black,
  white                        : $base-white,
  faint                        : $grey-12,
  light                        : $grey-25,
  muted                        : $grey-35,
  medium                       : $grey-50,
  dark                         : $grey-85,

  blue-optimum                 : map-get($ui-color, blue-optimum),
  blue-ocean                   : map-get($ui-color, blue-ocean),
  warning                      : map-get($ui-color, warning),
  bad-news                     : map-get($ui-color, red),
  good-news                    : map-get($ui-color, green-winning)
);

// ## Fonts

// ### Font Sizes
// These defaults can be overriden by custom variables.

$font-size: (
  base                : 14px,
  micro               : 13px,
  milli               : 11px,

  alpha               : 26px, // h1
  beta                : 24px, // h2
  gamma               : 22px, // h3
  delta               : 18px, // h4
  epsilon             : 14px, // h5
  zeta                : 13px, // h6

  kilo                : 42px, // Extra large fonts.
  mega                : 50px,
  giga                : 65px
);

// ### Line Heights
// Specifying variable instead of inside map so it can be used by line-height mixin.
// These defaults can be overriden by custom variables.

$line-height: (
  base                : 1.6,
  tight               : 1.2,
  loose               : 1.8
);

// ### Font Family

$font-family: (
  base                         : unquote("'Proxima Nova', Helvetica, Verdana, sans-serif"),
  monospace                    : monospace
);

// ### Font Weights

$font-weight: (
  light                        : 300,
  normal                       : 400,
  bold                         : 600
);

// ### Font Spacing

$letter-spacing: (
  loose                        : 1px,
  tight                        : -1px,
  extra-tight                  : -2px
);

// ## UI Elements
// ### Rounded corners.

$border-radius: (
  base                         : 2px,
  big                          : 4px,
  full                         : 50%
);

// ### Shadows

$shadow: (
  base                         : 4px rgba(0, 0, 0, 0.2),
  light                        : 3px rgba(0, 0, 0, 0.1),
  big                          : 8px rgba(0, 0, 0, 0.3)
);

// ### Dialog Widths

$dialog: (
  width-base                   : 700px,
  width-narrow                 : 500px,
  width-wide                   : 900px
);

// ### Transitions

$transition-duration: (
  fast                         : 0.1s,
  base                         : 0.3s,
  slow                         : 0.5s
);

// ## Form Variables

$input-focus-border-color      : map-get($ui-color, blue-optimum-light);

// ### Buttons

$button: (
  height-default               : 32px,
  height-small                 : 24px
);

// ### Spinner

$spinner: (
  size-default               : 40px,
  size-small                 : 26px,
  border-width               : 4px,
  border-color-light         : #d1e5f2,
  speed                      : 800ms
);

// ## Spacing Unit
// Defines spacing for paddings and margins.

$spacer-unit                   : 10px;

// Using this function requires that the value passed be a multiple of .5
// This encourages greater spacing consistentcy. The following example
// will output 25px. It will test to see if value is multiple of .5. If not
// it will provide a warning.

// Usage:

// [c]
//     padding: spacer(2.5);
// [/c]

@function spacer($value) {
  @if ($value * 2) % 1 != 0 {
    @warn 'Spacer value must be a multiple of 0.5';
    @return 'Spacer value must be a multiple of 0.5';
  } @else {
    @return $spacer-unit * $value;
  }
}
