// ## Button Group
// For buttons row should align left or right.

//[hc]
//     <div class="button-group--left">
//        <button class="button">Button</button>
//        <button class="button button--preferred">Button</button>
//     </div>
//[/hc]

//[hc]
//     <div class="button-group--right">
//        <button class="button">Button</button>
//        <button class="button button--preferred">Button</button>
//     </div>
//[/hc]

%button-group,
.button-group {

    &--left {

        .button {
            margin-right: spacer(1);
        }
    }


    &--right {
        text-align: right;

        .button {
            margin-left: spacer(1);
        }
    }

    &--center {
        text-align: center;

        .button {
            margin-left: spacer(.5);
            margin-right: spacer(.5);
        }
    }

    &--flush {
        @extend %grid;
        white-space: nowrap;

        .button {
            margin-left: 0;
            border-radius: 0;
        }

        > .button {
            &:not(:last-child) {
                border-right: none;
            }

            &:first-child {
                border-radius: map-get($border-radius, base) 0 0 map-get($border-radius, base);
            }
            &:last-child {
                border-radius: 0 map-get($border-radius, base) map-get($border-radius, base) 0;
            }
        }

        // This is for buttons inside dropdown-groups. Only needed if buttons are rounded.

        .dropdown-group {
            &:not(:last-child) {
                .button {
                    border-radius: 0;
                    border-right: none;
                }
            }
            &:last-child .button {
                border-radius: 0 map-get($border-radius, base) map-get($border-radius, base) 0;
            }
        }
    }


    &--toggle {
        @extend %button-group--flush;

        .button {
            @extend %button--small;
        }

        // This is needed due to CSS source order.
        .button:not(.button-toggle__active) {
            @extend %button--secondary;
        }

        .button-toggle__active {
            @extend %button--brand;
            border-color: $button-brand-border-color;
            cursor: default;

            &:hover,
            &:active {
                @include background($button-brand-gradient);
                box-shadow: none;
            }

            + .button {
                border-left: none;
            }
        }
    }
}