<div class="lego-tabs" v-tabs="tabContainer">
  <ul class="lego-tabs-nav">
    <li class="lego-tabs-nav__item tab-active" data-tab-related="one">Tab One</li>
    <li class="lego-tabs-nav__item" data-tab-related="two">Tab Two</li>
    <li class="lego-tabs-nav__item" data-tab-related="three">Tab Three</li>
  </ul>
</div>

<div class="lego-tab-content" id="tabContainer">
  <div class="lego-tabs-pane__item tab-active" data-tab-related="one">One</div>
  <div class="lego-tabs-pane__item" data-tab-related="two">Two</div>
  <div class="lego-tabs-pane__item" data-tab-related="three">Three</div>
</div>
