// # Wireframe Variables

// ## Colors
// Default color for objects' borders etc.

// IMPORTANT Do not use these values directly. Use the more specifically named
// variables below that use these black and grey values.

$color: map-extend($color,
  (
    ui: (
      base                     : #668d9e
    ),
    link: (
      base                     : #668d9e,
      brand                    : #668d9e,
      brand-light              : #deeaef
    ),

    background: (
      brand                    : #668d9e,
      brand-light              : #deeaef
    ),
    text: (
      base                     : #668d9e
    )
  )
);


$popover: map-extend($popover,
  (
    border-color               : #668d9e
  )
);


$spinner: map-extend($spinner,
  (
    border:(
      color:(
        dark                   : map-fetch($color, background brand),
        light                  : map-fetch($color, background brand-light)
      )
    )
  )
);
