// # Wireframe Variables

$include-fonts:(
  weights: 300 400 500,
  italics: true
);

// ## Colors
// Default color for objects' borders etc.

// IMPORTANT Do not use these values directly. Use the more specifically named
// variables below that use these black and grey values.

$color: map-extend($color,
  (
    ui: (
      base                     : #668d9e,
      brand                    : #668d9e
    ),
    link: (
      base                     : #668d9e,
      brand                    : #668d9e,
      brand-light              : #deeaef
    ),
    background: (
      brand                    : #668d9e,
      brand-light              : #deeaef
    ),
    text: (
      base                     : #668d9e,
      brand                    : #668d9e
    )
  )
);

$button: map-extend($button,
  (
    type: (
      base: (
        background             : #00415d,
        color                  : map-fetch($color, text white),
        hover:(
          background           : #DDD
        ),
        active:(
          background           : #CCC
        )
      ),
      brand: (
        background             : map-fetch($color, ui base),
        color                  : map-fetch($color, text white),
        hover:(
          background           : #1270B1
        ),
        active:(
          background           : #08568B
        )
      )
    )
  )
);
