// # Arrow Inline
// Small arrows as needed next to navigational elements.

//[hc]
//     <div>Nav up <span class="arrow-inline--up"></span></div>
//     <div>Nav down <span class="arrow-inline--down"></span></div>
//[/hc]

%lego-arrow-inline,
.lego-arrow-inline {
  display: inline-block;
  position: relative;
  top: -0.1em;
  font-family: Arial, sans;
  font-size: 0.7em;

  &--up {
    @extend %lego-arrow-inline;

    &:before {
      content: map-get($arrow-entity, up);
    }
  }

  &--down {
    @extend %lego-arrow-inline;

    &:before {
      content: map-get($arrow-entity, down);
    }
  }

  &--right {
    @extend %lego-arrow-inline;

    &:before {
      content: map-get($arrow-entity, right);
    }
  }

  &--left {
    @extend %lego-arrow-inline;

    &:before {
      content: map-get($arrow-entity, left);
    }
  }
}
