// ## Button Group
// For buttons that are flush against each other.

%lego-button-group,
.lego-button-group {
  @extend %flex;

  .lego-button {
    margin-left: 0;
    border-radius: 0;

    &:not(:last-child) {
      border-right: 0;
    }

    &:first-child {
      border-radius: map-get($border-radius, base) 0 0 map-get($border-radius, base);
    }

    &:last-child {
      border-radius: 0 map-get($border-radius, base) map-get($border-radius, base) 0;
    }

    &:hover + .lego-button {
      border-left-color: map-get($ui-color, medium);
    }

    &--brand {
      cursor: default;
      background: map-get($background-color, brand);

      + .lego-button,
      &:hover + .lego-button {
        border-left-color: map-get($ui-color, brand-dark);
      }
    }

    &:hover + .lego-button--brand {
        border-left-color: map-get($ui-color, brand-dark);
    }
  }
}
