// # Nav
// Creates simple nav pattens to extend.

%lego-nav,
.lego-nav {
  @extend %flex;

  > li {
    margin-right: spacer(1);

    > a {
      display: block;
    }
  }

// ## Nav Stacked
// Vertically stacked.

  &--stacked {
    display: block;

    > li {
      margin-right: 0;
    }
  }

// ## Nav Center
// Centers nav items.

  &--banner {
    @extend %justify--center;

    > li {
      margin-left: spacer(0.5);
      margin-right: spacer(0.5);
    }
  }

// ## Nav Fit
// Fills horizonal space.

  &--fit {
    @extend %flex;

    > li {
      @extend %flex-1;

      > a {
        display: block;
      }
    }
  }
}
