// # Tabs
// Creates a set of tabs.

// ## Examples

//[hc]
//     <div class="lego-tabs">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item lego-tabs-nav__item--active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//[/hc]

//[hc]
//     <div class="lego-tabs lego-tabs--small">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item lego-tabs-nav__item--active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//[/hc]

//[hc]
//     <div class="lego-tabs lego-tabs--small lego-tabs--center">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item lego-tabs-nav__item--active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//[/hc]

//[hc]
//     <div class="lego-tabs lego-tabs--small lego-tabs--sub">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item lego-tabs-nav__item--active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//[/hc]

// ## SCSS

.lego-tabs-nav {
  @extend %flex;
  border-bottom: 3px solid map-get($ui-color, base);

  &__item {
    position: relative;
    text-align: center;
    padding: spacer(1) spacer(1.5);
    border: 1px solid map-get($ui-color, base);
    border-right: none;
    border-bottom: 0;
    color: map-get($font-color, medium);
    font-weight: map-get($font-weight, bold);
    background-color: map-get($background-color, white);
    cursor: pointer;

    &:first-child {
      border-radius: map-get($border-radius, big) 0 0 0;
    }

    &:last-child {
      border-radius: 0 map-get($border-radius, big) 0 0;
      border-right: 1px solid map-get($ui-color, base);
    }

    &:hover,
    &--active {
      color: map-get($font-color, brand);
    }

    &--active {

      &:after { // Creates the white bar under the active tab.
        content: '';
        display: block;
        height: 3px;
        background: map-get($background-color, white);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
      }
    }
  }
}

.lego-tabs--small {

  .lego-tabs-nav {
    border-width: 1px;
  }

  .lego-tabs-nav__item {
    padding: spacer(0.5) spacer(1);
    font-size: map-get($font-size, micro);
  }
}

.lego-tabs--center {
  .lego-tabs-nav {
    @extend %justify--center;
  }

  .lego-tabs-nav__item:first-child {
    margin-left: spacer(0.5);
  }
}

.lego-tabs--sub {
  .lego-tabs-nav__item {
    border: none;

    &--active:after {
      height: 2px;
      background: map-get($background-color, brand);
      bottom: -1px;
    }
  }
}

.lego-tabs-pane {
  display: none;

  &__item--active {

    display: block;
  }
}
