// # Tabs
// Creates a set of tabs.

$tab-border-color: map-get($ui-color, medium);

.lego-tabs {
  border-bottom: 1px solid map-get($ui-color, base);

  // This is where the content goes.
  &__content {
    display: none;

    &--active {
      display: block;
    }
  }

  .lego-tabs-nav__item {
    position: relative;
    text-align: center;
    padding: spacer(1) spacer(1.5);
    border-top: 1px solid map-get($ui-color, base);
    border-right: 1px solid map-get($ui-color, base);
    border-bottom: 0;
    color: map-get($font-color, muted);
    cursor: pointer;
    background: map-get($background-color, light);

    &:last-child {
      border-right: none;
    }

    &:hover,
    &--active {
      border-top: 1px solid map-get($ui-color, base);
      background: map-get($background-color, white);
      color: map-get($font-color, base);

      // Provides the white bar under the active tab.
      &:after {
        content: '';
        display: block;
        height: 1px;
        background: map-get($background-color, white);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
      }
    }

  }

  // Small set of tabs.
  &--small {
    .lego-tabs-nav__item {
      padding: spacer(0.5) spacer(1);
      font-size: map-get($font-size, micro);
    }
  }

  &--full {
    background: map-get($background-color, light);
    border-top: 1px solid map-get($ui-color, base);


    .lego-tabs-nav__item,
    .lego-tabs-nav__item--active {
      @extend %flex-1;
      border-top: none !important;
    }
  }
}

.lego-tabs-nav {
  @extend %flex;
}
