////
/// Background Colors
/// @description Classes to add background colors.
/// @group Trumps
/// @example[html]
///   <div class="background--faint">
///     faint
///   </div>
///   <div class="background--light">
///     light
///   </div>
///   <div class="background--muted">
///     muted
///   </div>
///   <div class="background--medium">
///     medium
///   </div>
///   <div class="background--charcoal">
///     charcoal
///   </div>
///   <div class="background--brand">
///     brand
///   </div>
///   <div class="background--brand-dark">
///     brand-dark
///   </div>
///   <div class="background--warning">
///     warning
///   </div>
///   <div class="background--bad-news">
///     bad-news
///   </div>
///   <div class="background--good-news">
///     good-news
///   </div>
///   <div class="background--live">
///     live
///   </div>
///   <div class="background--draft">
///     draft
///   </div>
////

.background--white {
  background-color: map-fetch($color, background, white) !important;
}

.background--faint {
  background-color: map-fetch($color, background, faint) !important;
}

.background--light {
  background-color: map-fetch($color, background, light) !important;
}

.background--muted {
  background-color: map-fetch($color, background, muted) !important;
}

.background--medium {
  background-color: map-fetch($color, background, medium) !important;
}

.background--charcoal {
  background-color: map-fetch($color, background, charcoal) !important;
}

.background--brand {
  background-color: map-fetch($color, background, brand) !important;
}

.background--brand-dark {
  background-color: map-fetch($color, background, brand-dark) !important;
}

.background--warning {
  background-color: map-fetch($color, background, warning) !important;
}

.background--bad-news {
  background-color: map-fetch($color, background, bad-news) !important;
}

.background--good-news {
  background-color: map-fetch($color, background, good-news) !important;
}

.background--live {
  background-color: map-fetch($color, ui, live) !important;
}

.background--draft {
  background-color: map-fetch($color, ui, draft) !important;
}

.background--current-color {
  background-color: currentColor !important;
}
