// # Dashboard Table


// ## Table Cell Truncation
// This is somewhat hacky way to provide truncation inside a flexible table cell. Extend and/or override if default styles don't work.

//[c]
//     <td class="cell-truncate">
//       <div class="cell-truncate__text">This is the text you on want truncated.</div>
//     </td>
//[/c]

// If you have truncated text underneath non-truncated text use the following. Note the source order of title/text is reversed. This is so that the CSS can make room for the absolutely positioned truncated text.

//[c]
//     <td class="cell-truncate">
//       <div class="cell-truncate__text">This is the text you on want truncated and will actually appear under the title.</div>
//       <div class="cell-truncate__title">This is the title of the element</div>
//     </td>
//[/c]


%cell-truncate,
.cell-truncate {
  position: relative;


  &__text {
    @extend %truncate;
    position: absolute;
    bottom: spacer(0.5);
    left: 0;
    right: 0;

    + .cell-truncate__title {
      margin-bottom: spacer(1.5);
    }
  }

  &__title {
    font-weight: map-get($font-weight, bold);
  }
}

// Adds extra padding to first/last table cell so it can run full bleed.

.lego-table--dashboard {
  @extend %lego-table--rule;
  @extend %lego-table--hover;

  thead > tr > th,
  tbody > tr > td {

    &:first-child {
      padding-left: spacer(2);
    }

    &:last-child {
      padding-right: spacer(2);
    }
  }

  tbody > tr > td {
    padding-top: spacer(1);
    padding-bottom: spacer(1);
  }

  .cell-truncate {
    &__text {
      bottom: spacer(1);
      left: spacer(2);
      color: map-get($font-color, muted);
      font-size: map-get($font-size, micro);
    }
  }

  // Adds a color bar to the left of the first table-cell.

  .lego-table-row--active {

    td:first-child {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background: map-get($ui-color, brand);
      }
    }
  }
}
