// # Selector
// For big blocky selections, such as those in the Create New Project dialog and in the welcome flow.

//[hc]
//     <div class="lego-selector">
//       <div class="lego-selector__item">
//         <svg class="lego-icon anchor--middle push-double--ends">
//           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#audiences"></use>
//         </svg>
//         <h4>Web Project</h4>
//         <p>Test and optimize web sites.</p>
//       </div>
//       <div class="lego-selector__item lego-selector__item--active">
//         <svg class="lego-icon anchor--middle push-double--ends">
//           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#audiences"></use>
//         </svg>
//         <h4>iOS Project</h4>
//         <p>Test and optimize native iOS apps.</p>
//       </div>
//       <div class="lego-selector__item lego-selector__item--locked">
//         <svg class="lego-icon anchor--middle push-double--ends">
//           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#audiences"></use>
//         </svg>
//         <h4>Android Project</h4>
//         <p>Test and optimize native Android apps.</p>
//       </div>
//     </div>
//[/hc]

.lego-selector {
  @extend %lego-array;

  &__item {
    @extend %lego-array__item;
    text-align: center;
    border: 1px solid map-get($ui-color, base);

    &:hover,
    &--active {
      border: 1px solid map-get($ui-color, brand);
      background-color: map-get($background-color, brand-light);
      cursor: pointer;
    }

    &--locked {
      opacity: map-get($opacity, medium);
      position: relative;

      &:before {
        content: '';
        width: 25px;
        height: 22px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NjMgMjY1IDMyIDMyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IC00NjMgMjY1IDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJncmlkIj4NCjwvZz4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0tNDM3LDI3N2MwLTUuNS00LjUtMTAtMTAtMTBzLTEwLDQuNS0xMCwxMGMtMS4yLDAtMiwwLjktMiwydjE2YzAsMS4xLDAuOCwyLDEuOSwyaDIwYzEuMSwwLDItMC45LDItMnYtMTYNCglDLTQzNSwyNzcuOS00MzUuOSwyNzctNDM3LDI3N3ogTS00NDUsMjg4LjR2Mi42YzAsMS4xLTAuOSwyLTIsMnMtMi0wLjktMi0ydi0yLjZjLTEuMi0wLjYtMi0xLjktMi0zLjRjMC0yLjIsMS44LTQsNC00czQsMS44LDQsNA0KCUMtNDQzLDI4Ni41LTQ0NCwyODcuNy00NDUsMjg4LjR6IE0tNDQxLjEsMjc3aC0yaC0yaC00aC0yaC0zYzAtMy45LDMuMS03LDctN2MzLjksMCw3LDMuMSw3LDdILTQ0MS4xeiIvPg0KPC9zdmc+DQo=);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: center;
        z-index: 1;
      }

      &:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        top: 0;
        right: 0;
        // using two borders to create a triangle behind the lock icon
        border-bottom: 40px solid transparent;
        border-right: 40px solid map-get($background-color, medium);
      }

      &:hover {
        border: 1px solid map-get($ui-color, base);
        background-color: map-get($background-color, base);
        cursor: default;
      }
    }
  }
}
