.time_pick {
  position: relative;
}

.timepicker_wrap {
  @extend .oui-pop--over;
  $input-width: 43px;

  opacity: 1;
  padding: 10px;
  clear: both;

  .timepicki-input {
    @extend .oui-text-input;
    max-width: $input-width;
    margin-top: spacer(0.5);
    margin-bottom: spacer(0.5);
  }

  .ti_tx {
    &::after {
      content: ':';
      margin-left: spacer(1);
    }
  }

  .time,
  .mins {
    margin-right: spacer(1);
  }

  .time,
  .mins,
  .meridian {
    display: flex;
    flex-direction: column;
    float: left;
  }

  .prev,
  .next {
    @extend .oui-button;
    width: $input-width;
  }

  .prev::after,
  .next::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: 2px;
    vertical-align: middle;
  }

  .prev::after {
    content: '';
    border-bottom: $border-colored;
    border-right: $border-transparent;
    border-left: $border-transparent;
  }

  .next::after {
    content: '';
    border-top: $border-colored;
    border-right: $border-transparent;
    border-left: $border-transparent;
  }
}
