.time_pick {
  position: relative;
}

.timepicker_wrap {
  @extend .oui-pop--over;
  $input-width: 43px;

  display: flex !important;
  opacity: 1;
  padding: 10px;

  .timepicki-input {
    @extend .oui-text-input;
    max-width: $input-width;
    margin-top: spacer(0.5);
    margin-bottom: spacer(0.5);
  }

  .ti_tx {
    &::after {
      content: ':';
      margin-left: spacer(1);
    }
  }

  .time,
  .mins {
    margin-right: spacer(1);
  }

  .time,
  .mins,
  .meridian {
    display: flex;
    flex-direction: column;
  }

  .prev,
  .next {
    @extend .oui-button;
    width: $input-width;
  }

  .prev::after {
    content: '';
    @extend .oui-arrow-inline--up;
  }

  .next::after {
    content: '';
    @extend .oui-arrow-inline--down;
  }
}
