// # Text
// Special type design treatments.

// ## Editiable
// Text that can be edited, like project titles.

//[hc]
//
//     <!-- Does not matter which Element -->
//     <p v-editable-text>This Text is Editable</p>
//
//[/hc]

.editable {

  &:hover {
    color: map-get($font-color, muted);
    border-radius: map-get($border-radius, base);
  }

  // Pencil icon to go here.

  &:after {
    content: '\270E';
    font-size: 18px;
    padding-left: spacer(0.5);
  }
}


.monospace {
  font-family: map-get($font-family, monospace);
}