// # Width Trumps
// Use rarely, for form elements only as a last resort.

.width-50 {
  width: 50px  !important;
}

.width-100 {
  width: 100px !important;
}

.width-150 {
  width: 150px !important;
}

.width-200 {
  width: 200px !important;
}

.width-250 {
  width: 250px !important;
}

.width-300 {
  width: 300px !important;
}
