


  // ### Button Shapes
  // Button shape variations.

  &--round {
    border-radius: 50%;
    // Using the same dimension for height and width so that the button is always round
    height: map-fetch($button, height small);
    width: map-fetch($button, height small);
    padding: 0;

    .lego-icon {
      height: 12px;
      width: 12px;
    }
  }

  &--link {
    @extend %link;
    background: none;
    border: 0;
    padding: 0;
    font-family: map-fetch($font, family base);
    cursor: pointer;
    outline: 0;
  }

  &--add,
  &--remove {
    @extend %lego-button--small;
    @extend %lego-button--round;
  }

  &--remove:hover,
  &--remove:active,
  &--remove:focus {
    color: map-fetch($font, color bad-news);
  }
}

// ### Anchors like Buttons
// Anchors that appear to be buttons.

a.lego-button {
  padding-top: 8px;

  &--small {
    padding-top: 6px;
  }
}