// # Lego Core
// Includes just core for documentation purposes.

$include-fonts:(
  weights: 300 400 500,
  italics: true
);

// Compass polyfills
@import 'core-polyfills';

// Core functions and mixins
@import 'partials/elements/functions';
@import 'partials/elements/mixins';

// Core & Wireframe variables
@import 'core-variables';

// Core & Wireframe partials
@import 'core-partials';

// Trumps
// Trumps use `!important` classes for overrides and should always be loaded last.
@import 'partials/trumps/background';
@import 'partials/trumps/layout';
@import 'partials/trumps/margin';
@import 'partials/trumps/padding';
@import 'partials/trumps/type';
@import 'partials/trumps/sizing';
