// # Block List
//
// Create big blocky lists of content that, e.g.:
//
// [hc]
//     <ul class="block-list">
//       <li>Foo</li>
//       <li>Bar</li>
//       <li>Baz</li>
//       <li><a href=# class=block-list__link>Foo Bar Baz</a></li>
//     </ul>
// [/hc]

%lego-block-list,
.lego-block-list {
    list-style: none;
    margin-left: 0;

    > li {
        padding: spacer(.5) spacer(1);
        border-bottom: 1px solid map-get($ui-color, base);
    }

    // For links that will take up full space of list item.

    &__link {
        display: block;
        padding: spacer(.5) spacer(1);
        margin-top: -(spacer(.5));
        margin-bottom: -(spacer(.5));
        margin-left: -(spacer(1));
        margin-right: -(spacer(1));
    }
}


// ## Block List Group
// Extends ruled list to create a self-contained grouping.

%lego-block-list-group,
.lego-block-list-group {
    @extend %lego-block-list;
    border: 1px solid map-get($ui-color, base);
    border-radius: map-get($border-radius, base);

    > li:last-child {
        border: none;
    }
}