// # Clearfix

// Used to clear floatsusing this [technique](http://tinyurl.com/la5h3sg).
// To use, extend the clearfix class.

//[c]
//     .foo {
//          @extend %cf;
//     }
//[/c]

%cf,
.cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}