// # Attention
// Boxes for highlighting important information or warnings.

// ### Default
// For general notifications using the default color.

//[hc]
//     <div class="lego-attention text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Brand
// For general notifications using the brand color.

//[hc]
//     <div class="lego-attention lego-attention--brand text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention lego-attention--brand">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Warning
// For alterting a user to information that's important.

//[hc]
//     <div class="lego-attention lego-attention--warning text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention lego-attention--warning">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Good News
// For alterting a user to information that's good.

//[hc]
//     <div class="lego-attention lego-attention--good-news text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention lego-attention--good-news">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

// ### Error
// For bad-news states or bad news.

//[hc]
//     <div class="lego-attention lego-attention--bad-news text--center push-double--bottom">
//         This is a note.
//     </div>
//     <div class="lego-attention lego-attention--bad-news">
//       <p>This is a longer note adipisicing elit. Recusandae ipsum tenetur est quisquam beatae aliquam facere molestiae reiciendis aperiam molestias consequuntur voluptatum corporis voluptas laudantium dolor, nam quam laboriosam harum.</p>
//     </div>
//[/hc]

%lego-attention,
.lego-attention {
  @extend %kill-last-child-margin;
  padding: spacer(1);
  border-radius: map-get($border-radius, base);
  border: 1px solid map-get($ui-color, silver);
  background: map-get($background-color, faint);

  &--basic {
    border-color: map-get($ui-color, blue-optimum-light);
    background-color: map-get($background-color, blue-optimum-light);
  }

  &--warning {
    border-color: map-get($ui-color, yellow);
    background-color: map-get($background-color, warning);
  }

  &--good-news {
    border-color: tint(map-get($ui-color, green-winning), 60%);
    background-color: map-get($background-color, good-news);
  }

  &--bad-news {
    border-color: tint(map-get($ui-color, orange), 40%);
    background-color: map-get($background-color, bad-news);
  }
}
