//# Buttons

// ## Examples

// ### Button Row Left
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button">Go</button>
//       <button class="lego-button lego-button--brand">Go</button>
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--danger">Go</button>
//     </div>
//[/hc]

// ### Button Row Center
//[hc]
//     <div class="lego-button-row--center">
//       <button class="lego-button">Go</button>
//       <button class="lego-button lego-button--brand">Go</button>
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--danger">Go</button>
//     </div>
//[/hc]

// ### Button Row Right
//[hc]
//     <div class="lego-button-row--right">
//       <button class="lego-button">Go</button>
//       <button class="lego-button lego-button--brand">Go</button>
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--danger">Go</button>
//     </div>
//[/hc]

// ### Button Row Left with Small Buttons
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--small">Go</button>
//       <button class="lego-button lego-button--small lego-button--brand">Go</button>
//       <button class="lego-button lego-button--small lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--small lego-button--danger">Go</button>
//     </div>
//[/hc]

// ### Button Full
//[hc]
//     <button class="lego-button lego-button--brand lego-button--full">Go</button>
//[/hc]

// ### Full Spread Buttons
//[hc]
//     <div class="lego-grid lego-grid--gutter">
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--brand lego-button--full">Go</button>
//       </div>
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--brand lego-button--full">Go</button>
//       </div>
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--brand lego-button--full">Go</button>
//       </div>
//     </div>
//[/hc]

// ### Button Disabled
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--disabled">Go</button>
//       <button class="lego-button lego-button--brand lego-button--disabled">Go</button>
//     </div>
//[/hc]

// ### Button with Icon
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--icon">
//         <svg class="lego-icon">
//           <use xlink:href="#sync"></use>
//         </svg>
//       </button>
//       <button class="lego-button lego-button--icon">
//         <svg class="lego-icon">
//           <use xlink:href="#sync"></use>
//         </svg> Refresh
//       </button>
//     </div>
//[/hc]


// ## SCSS

// ### Button Variables
// Shadows for buttons.

%lego-button,
.lego-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0 spacer(1);
  height: map-get($button, height-default);
  font-weight: map-get($font-weight, normal);
  border-radius: map-get($border-radius, base);
  border-style: solid;
  border-width: 1px;
  line-height: 1;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    outline: none;
    color: map-get($font-color, base);
  }

  // ### Button Styles
  // Button color variations.

  background: linear-gradient(#fff, #eee);
  color: map-get($font-color, base);
  border-color: map-get($ui-color, base);

  &.lego-button--hover,
  &:hover {
    background: linear-gradient(#fff, #e5e5e5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  &.lego-button--active,
  &:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
  }

  &:visited,
  &:focus {
    color: map-get($font-color, base);
  }

  &--brand {
    background: linear-gradient(#147cc5, #1270b1);
    border-color: #00558d;
    color: map-get($font-color, white);

    &.lego-button--hover,
    &:hover {
      background: linear-gradient(#038ae6, #1270b1);
    }

    &.lego-button--active,
    &:active {
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
      border-color: #00558d;
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-get($font-color, white);
    }
  }

  &--highlight {
    background: linear-gradient(#a1cd1e, #91b81c);
    border-color: #719505;
    color: map-get($font-color, white);

    &.lego-button--hover,
    &:hover {
      background: linear-gradient(#a3d60c, #91b81c);
    }

    &.lego-button--active,
    &:active {
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
      border-color: #719505;
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-get($font-color, white);
    }
  }

  &--danger {
    background: linear-gradient(#aa280d, #991e04);
    border-color: #641100;
    color: map-get($font-color, white);

    &.lego-button--hover,
    &:hover {
      background: linear-gradient(#c02c0c, #991e04);
    }

    &.lego-button--active,
    &:active {
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
      border-color: #641100;
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-get($font-color, white);
    }
  }

  // ### Button Sizes
  // Button size variations.

  &--small {
    padding: 4px spacer(1);
    height: map-get($button, height-small);
    font-size: 10px;
    line-height: 1;
  }

  &--full {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  // ### With Icon
  // Some extra help is needed to get the icon and text to line up.

  &--icon {
    line-height: 1.4;

    .lego-icon {
      vertical-align: sub;
    }
  }

  // ### Inactive Button
  // Disabled state.

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus,
  &--disabled,
  &--disabled:hover,
  &--disabled:active,
  &--disabled:focus {
    cursor: default;
    box-shadow: none;
    background: #f8f8f8;
    color: map-get($font-color, medium);
    border-color: map-get($ui-color, base);
    opacity: 0.5;

    + .lego-button--brand {
      border-color: #00558d;
      background: #147cc5;
      color: #fff;
    }

    + .lego-button--highlight {
      border-color: #719505;
      background: #a1cd1e;
      color: #fff;
    }

    + .lego-button--danger {
      border-color: #641100;
      background: #aa280d;
      color: #fff;
    }
  }
}

// ### Anchors as buttons

a.lego-button {
  padding-top: 8px;

  &--small {
    padding-top: 6px;
  }
}
