//# Buttons

// ## Examples

// ### Button Row Left
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button">Go</button>
//       <button class="lego-button lego-button--brand">Go</button>
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--danger">Go</button>
//     </div>
//[/hc]

// ### Button Row Center
//[hc]
//     <div class="lego-button-row--center">
//       <button class="lego-button">Go</button>
//       <button class="lego-button lego-button--brand">Go</button>
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--danger">Go</button>
//     </div>
//[/hc]

// ### Button Row Right
//[hc]
//     <div class="lego-button-row--right">
//       <button class="lego-button">Go</button>
//       <button class="lego-button lego-button--brand">Go</button>
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--danger">Go</button>
//     </div>
//[/hc]

// ### Button Row Left with Small Buttons
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--small">Go</button>
//       <button class="lego-button lego-button--small lego-button--brand">Go</button>
//       <button class="lego-button lego-button--small lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--small lego-button--danger">Go</button>
//     </div>
//[/hc]

// ### Button Full
//[hc]
//     <button class="lego-button lego-button--brand lego-button--full">Go</button>
//[/hc]


// ### Button Round
//[hc]
//     <button class="lego-button lego-button--small lego-button--round color--good-news">
//       <svg class="lego-icon">
//         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#add"></use>
//       </svg>
//     </button>
//     <button class="lego-button lego-button--small lego-button--round color--bad-news">
//       <svg class="lego-icon">
//         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
//       </svg>
//     </button>
//[/hc]

// ### Full Spread Buttons
//[hc]
//     <div class="lego-grid lego-grid--gutter">
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--brand lego-button--full">Go</button>
//       </div>
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--brand lego-button--full">Go</button>
//       </div>
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--brand lego-button--full">Go</button>
//       </div>
//     </div>
//[/hc]

// ### Button Disabled
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--disabled">Go</button>
//       <button class="lego-button lego-button--brand lego-button--disabled">Go</button>
//     </div>
//[/hc]

// ### Button with Icon
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--icon">
//         <svg class="lego-icon">
//           <use xlink:href="#sync"></use>
//         </svg>
//       </button>
//       <button class="lego-button lego-button--icon">
//         <svg class="lego-icon">
//           <use xlink:href="#sync"></use>
//         </svg> Refresh
//       </button>
//     </div>
//[/hc]


// ### Button Variables
// Shadows for buttons.


%lego-button,
.lego-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
  border: 0;
  margin: 0;
  line-height: 1;

  font-size: map-fetch($button, size base font-size);
  font-weight: map-fetch($button, size base font-weight);
  border-radius: map-fetch($button, size base border-radius);
  height: map-fetch($button, size base height);
  padding: 0 10px; // Use spacer.


  background-color: map-fetch($button, type default background);
  color: map-fetch($button, type default color);

  &:hover {
    background: map-fetch($button, type default hover background);
  }

  &:active {
    background: map-fetch($button, type default active background);
  }

  &:hover,
  &:active,
  &:visited,
  &:focus {
    outline: none;
    color: map-fetch($button, type default color);
  }

  &--brand {
    background-color: map-fetch($button, type brand background);
    color: map-fetch($button, type brand color);

    &:hover {
      background: map-fetch($button, type brand hover background);
    }

    &:active {
      background: map-fetch($button, type brand active background);
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-fetch($button, type brand color);
    }
  }

  &--highlight {
    background-color: map-fetch($button, type highlight background);
    color: map-fetch($button, type highlight color);

    &:hover {
      background: map-fetch($button, type highlight hover background);
    }

    &:active {
      background: map-fetch($button, type highlight active background);
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-fetch($button, type highlight color);
    }
  }

  &--danger {
    background-color: map-fetch($button, type danger background);
    color: map-fetch($button, type danger color);

    &:hover {
      background: map-fetch($button, type danger hover background);
    }

    &:active {
      background: map-fetch($button, type danger active background);
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-fetch($button, type danger color);
    }
  }

  // ### Button Sizes
  // Button size variations.

  &--small {
    font-size: map-fetch($button, size small font-size);
    font-weight: map-fetch($button, size small font-weight);
    border-radius: map-fetch($button, size small border-radius);
    height: map-fetch($button, size small height);
    padding: 0 7px; // Use spacer.
  }

  &--full {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  // ### With Icon
  // Some extra help is needed to get the icon and text to line up.

  &--icon {
    line-height: 1.4;

    .lego-icon {
      vertical-align: sub;
    }
  }

  // ### Disabled State
  // Used either an attribute or a class, depending on the use case.

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus,
  &--disabled,
  &--disabled:hover,
  &--disabled:active,
  &--disabled:focus {
    cursor: default;
    box-shadow: none;
    background: #F8F8F8;
    color: map-fetch($font-color, medium);
    border-color: map-fetch($ui-color, base);
    opacity: map-fetch($opacity, medium);

    + .lego-button--brand {
      background-color: map-fetch($button, type brand background);
      color: map-fetch($button, type brand color);
    }

    + .lego-button--highlight {
      background-color: map-fetch($button, type highlight background);
      color: map-fetch($button, type highlight color);
    }

    + .lego-button--danger {
      background-color: map-fetch($button, type danger background);
      color: map-fetch($button, type danger color);
    }
  }
}
