//# Buttons

//[hc]
//     <div>
//       <button class="lego-button lego-button--primary">Go</button>
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--danger">Go</button>
//       <button class="lego-button lego-button--outline">Go</button>
//       <button class="lego-button">Go</button>
//     </div>
//[/hc]

// ## Examples

// ### Button Row Left
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--primary">Go</button>
//       <button class="lego-button lego-button--outline">Go</button>
//     </div>
//[/hc]

// ### Button Row Center
//[hc]
//     <div class="lego-button-row--center">
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--primary">Go</button>
//       <button class="lego-button lego-button--outline">Go</button>
//     </div>
//[/hc]

// ### Button Row Right
//[hc]
//     <div class="lego-button-row--right">
//       <button class="lego-button lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--primary">Go</button>
//       <button class="lego-button lego-button--outline">Go</button>
//     </div>
//[/hc]

// ### Button Row Left with Small Buttons
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--small lego-button--highlight">Go</button>
//       <button class="lego-button lego-button--small lego-button--primary">Go</button>
//       <button class="lego-button lego-button--small lego-button--outline">Go</button>
//     </div>
//[/hc]

// ### Button Full
//[hc]
//     <button class="lego-button lego-button--primary lego-button--full">Go</button>
//[/hc]

// ### Full Spread Buttons
//[hc]
//     <div class="lego-grid lego-grid--gutter">
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--primary lego-button--full">Go</button>
//       </div>
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--primary lego-button--full">Go</button>
//       </div>
//       <div class="lego-grid__cell">
//           <button class="lego-button lego-button--primary lego-button--full">Go</button>
//       </div>
//     </div>
//[/hc]

// ### Button Disabled
//[hc]
//     <div class="lego-button-row--left">
//       <button class="lego-button lego-button--disabled">Go</button>
//       <button class="lego-button lego-button--primary lego-button--disabled">Go</button>
//       <button class="lego-button lego-button--highlight lego-button--disabled">Go</button>
//       <button class="lego-button lego-button--outline lego-button--disabled">Go</button>
//     </div>
//[/hc]


// ## SCSS

// ### Button Variables
// Shadows for buttons.

%lego-button,
.lego-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: map-get($font-size, base);
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0 spacer(1);
  height: map-get($button, height-default);
  font-weight: map-get($font-weight, bold);
  border-radius: map-get($border-radius, base);
  border-style: solid;
  border-width: 1px;
  line-height: 1;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    outline: none;
  }

  // ### Button Styles
  // Button color variations.

  background: map-get($ui-color, light);
  color: map-get($font-color, base);
  border-color: map-get($ui-color, silver);

  &.lego-button--hover,
  &:hover {
    color: map-get($font-color,  dark);
  }

  &.lego-button--active,
  &:active {
    color: map-get($font-color, base);
    box-shadow: inset 0 0 3px map-get($ui-color, medium);
  }

  &:visited,
  &:focus {
    color: map-get($font-color, base);
  }

  &--highlight {
    background: map-get($ui-color, green);
    color: map-get($font-color, white);
    border-color: #098664;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -2px 0 #098664;

    &.lego-button--hover,
    &:hover {
      background: #15AC84;
      border-color: #11906E;
      box-shadow: inset 0 -2px 0 #11906E;
    }

    &.lego-button--active,
    &:active {
      background: #098664;
      border-color: #097D5E;
      box-shadow: inset 0 -2px 0 #097D5E;
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-get($font-color, white);
    }
  }

  &--primary {
    background: #3b5871;
    color: map-get($font-color, white);
    border-color: map-get($ui-color, blue-dark);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -2px 0 map-get($ui-color, blue-dark);

    &.lego-button--hover,
    &:hover {
      background: #48647B;
      border-color: #2C4F5E;
      box-shadow: inset 0 -2px 0 #2C4F5E;
    }

    &.lego-button--active,
    &:active {
      background: #00415D;
      border-color: #003349;
      box-shadow: inset 0 -2px 0 #003349;
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-get($font-color, white);
    }
  }

  &--outline {
    background: none;
    color: map-get($font-color, blue-dark);
    border: 1px solid map-get($ui-color, blue-dark);

    &.lego-button--hover,
    &:hover {
      background: none;
      color: map-get($font-color, blue-dark);
      box-shadow: 0 0 2px map-get($ui-color, blue-dark);
    }

    &.lego-button--active,
    &:active {
      background: map-get($background-color, blue-dark);
      color: map-get($font-color, white);
      box-shadow: none;
    }
  }

  &--danger {
    background: map-get($ui-color, bad-news);
    color: map-get($font-color, white);
    border-color: #912C05;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -2px 0 #AA1C2F;

    &.lego-button--hover,
    &:hover {
      background: #EF4156;
    }

    &.lego-button--active,
    &:active {
      background: #C32F45;
      box-shadow: inset 0 -2px 0 #8D1B2D
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: map-get($font-color, white);
    }
  }

  // ### Button Sizes
  // Button size variations.

  &--small {
    padding: 4px spacer(1);
    height: map-get($button, height-small);
    font-size: 12px;
    line-height: 1;
  }

  &--full {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  // ### Inactive Button
  // Disabled state.

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus,
  &--disabled,
  &--disabled:hover,
  &--disabled:active,
  &--disabled:focus {
    cursor: default;
    opacity: 0.5;

    + .lego-button--primary {
      &:hover,
      &:active {
        background: #3b5871;
        border-color: map-get($ui-color, blue-dark);
        box-shadow: inset 0 -2px 0 map-get($ui-color, blue-dark);
      }
    }

    + .lego-button--highlight {
      &:hover,
      &:active {
        background: map-get($ui-color, green);
        border-color: #098664;
        box-shadow: inset 0 -2px 0 #098664;
      }
    }

    + .lego-button--outline {
      &:hover {
        box-shadow: none;
      }

      &:active {
        color: map-get($font-color, blue-dark);
        border: 1px solid map-get($ui-color, blue-dark);
        background: none;
      }
    }
  }

  &[disabled]:active,
  &--disabled:active,{
    box-shadow: none;
  }
}

// ### Anchors as buttons

a.lego-button {
  padding-top: 8px;

  &--small {
    padding-top: 6px;
  }
}
