// # Help
// Buttons and icons when help is required.

// ## Example

//[hc]
//     <span class="lego-help-dot" v-poptip data-dir="bottom-center" data-content="This should be short text, no more than a sentence."></span>
//[/hc]

// ## SCSS

.lego-help-dot {
  background: map-get($font-color, muted);
  color: map-get($font-color, white);
  width: 18px;
  height: 18px;
  text-align: center;
  display: inline-block;
  position: relative;
  border-radius: 50%;

  &:after {
    content:'?'
  }
}
