// # Pill Text
// Reverse text with rounded corners. For short words and numbers.

// ## Examples

//[hc]
//     <span class="lego-pill">Freeform Text</span>
//[/hc]

//[hc]
//     <span class="lego-pill lego-pill--draft">Draft</span>
//[/hc]

//[hc]
//     <span class="lego-pill lego-pill--paused">Paused</span>
//[/hc]

//[hc]
//     <span class="lego-pill lego-pill--running">Running</span>
//[/hc]

// ## SCSS

$status-pill-width: 70px; // Width of paused and running pills.

.lego-pill {
  background: map-get($background-color, medium);
  color: map-get($font-color, white);
  border-radius: 1em;
  padding: 3px spacer(1);
  text-transform: uppercase;
  font-size: 9px;
  line-height: 1;
  font-weight: map-get($font-weight, semi);
  letter-spacing: map-get($letter-spacing, loose);
  text-align: center;
  display: inline-block;

  &--paused,
  &--running,
  &--draft {
    width: $status-pill-width;
  }

  &--paused {
    background: map-get($ui-color, warning);
  }

  &--running {
    background: map-get($ui-color, good-news);
  }

  &--draft {
    background: map-get($ui-color, base);
  }
}
