// # Pill Text
// Reverse text with rounded corners. For short words and numbers inside tables or other widths.

// ## Examples

//[hc]
//     <div class="lego-pill">Freeform Text</div>
//[/hc]

// ## SCSS

$pill-width: (
  on-off        : 40px
);

.lego-pill {
  background: map-get($background-color, muted);
  color: map-get($font-color, white);
  border-radius: 1em;
  padding: 3px spacer(0.5);
  text-transform: uppercase;
  font-size: 8px;
  line-height: 1;
  font-weight: map-get($font-weight, semi);
  letter-spacing: map-get($letter-spacing, loose);
  text-align: center;
  margin-top: 2px; // For horizontal alignment. Inline-block requires widths. Lesser of two evils.
  white-space: nowrap;

  &--running {
    background: map-get($ui-color, good-news);
  }

  &--on,
  &--off {
    width: map-get($pill-width, on-off);
  }

  &--on {
    background: map-get($ui-color, good-news);
  }

  &--off {
    background: map-get($background-color, muted);
  }
}
