// # Pop Upsell
// Information bubbles on hover. Almost always used with `postition: absolute`.

// ## Examples

//[hc]
//     <ul class="lego-pop-upsell lego-pop-upsell--arrow-bottom">
//       <li class="lego-pop-upsell__content">
//         <div class="lego-pop-upsell__title">Feature Name</div>
//         <p>Ipsa officiis bad-news minus earum a aperiam! Aperiam reiciendis vitae nihil libero et, hic!</p>
//       </li>
//       <li class="lego-pop-upsell__link">
//         <a href="#">Upgrade to use this feature</a>
//       </li>
//     </ul>
//[/hc]

//[hc]
//     <ul class="lego-pop-upsell lego-pop-upsell--arrow-top">
//       <li class="lego-pop-upsell__content">
//         <div class="lego-pop-upsell__title">Feature Name</div>
//         <p>Ipsa officiis bad-news minus earum a aperiam! Aperiam reiciendis vitae nihil libero et, hic!</p>
//       </li>
//       <li class="lego-pop-upsell__link">
//         <a href="#">Upgrade to use this feature</a>
//       </li>
//     </ul>
//[/hc]

//[hc]
//     <ul class="lego-pop-upsell lego-pop-upsell--arrow-right">
//       <li class="lego-pop-upsell__content">
//         <div class="lego-pop-upsell__title">Feature Name</div>
//         <p>Ipsa officiis bad-news minus earum a aperiam! Aperiam reiciendis vitae nihil libero et, hic!</p>
//       </li>
//       <li class="lego-pop-upsell__link">
//         <a href="#">Upgrade to use this feature</a>
//       </li>
//     </ul>
//[/hc]

//[hc]
//     <ul class="lego-pop-upsell lego-pop-upsell--arrow-left">
//       <li class="lego-pop-upsell__content">
//         <div class="lego-pop-upsell__title">Feature Name</div>
//         <p>Ipsa officiis bad-news minus earum a aperiam! Aperiam reiciendis vitae nihil libero et, hic!</p>
//       </li>
//       <li class="lego-pop-upsell__link">
//         <a href="#">Upgrade to use this feature</a>
//       </li>
//     </ul>
//[/hc]

// ## SCSS

$pop-upsell-background: map-get($ui-color, white);
$pop-upsell-border: map-get($ui-color, base);

.lego-pop-upsell {
  @extend %lego-block-list-group;
  max-width: 250px;
  display: inline-block;
  box-shadow: 0 2px map-get($shadow, light);

  &__content {
    @extend %kill-last-child-margin;
  }

  &__title {
    font-weight: map-get($font-weight, bold);
  }

  &__link {
    background: map-get($background-color, brand);

    a {
      @extend %lego-block-list__link;
      color: map-get($font-color, white);

      &:hover {
        background: map-get($background-color, brand);
      }
    }
  }

  // Arrow options.

  &--arrow-top {
    @include arrow(top, center, $pop-upsell-background, $pop-upsell-border);
  }

  &--arrow-bottom {
    @include arrow(bottom, center, map-get($background-color, brand), map-get($background-color, brand));
  }

  &--arrow-left {
    @include arrow(left, center, $pop-upsell-background, $pop-upsell-border);
  }

  &--arrow-right {
    @include arrow(right, center, $pop-upsell-background, $pop-upsell-border);
  }
}
