// # Tabs
// Creates a set of tabs.

// ## Examples

// ### Tabs with relationship defined by order

//[hc]
//     <div class="lego-tabs" v-tabs="tabContainer">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item tab-active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//     <div id="tabContainer">
//         <div class="lego-tabs-pane tab-active">Tab Content One</div>
//         <div class="lego-tabs-pane">Tab Content Two</div>
//         <div class="lego-tabs-pane">Tab Content Three</div>
//     </div>
//[/hc]

//[hc]
//     <div class="lego-tabs lego-tabs--small" v-tabs="smallTabContainer">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item tab-active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//     <div id="smallTabContainer">
//         <div class="lego-tabs-pane tab-active">Tab Content One</div>
//         <div class="lego-tabs-pane">Tab Content Two</div>
//         <div class="lego-tabs-pane">Tab Content Three</div>
//     </div>
//[/hc]

//[hc]
//     <div class="lego-tabs lego-tabs--small" v-tabs="tabs-container">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item tab-active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//     <div id="tabs-container" class="lego-tabs-container">
//         <div class="lego-tabs-pane tab-active">Tab Content One</div>
//         <div class="lego-tabs-pane">Tab Content Two</div>
//         <div class="lego-tabs-pane">Tab Content Three</div>
//     </div>
//[/hc]

//[hc]
//     <div class="lego-tabs lego-tabs--small lego-tabs--center" v-tabs="centerTabContainer">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item tab-active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//     <div id="centerTabContainer">
//         <div class="lego-tabs-pane tab-active">Tab Content One</div>
//         <div class="lego-tabs-pane">Tab Content Two</div>
//         <div class="lego-tabs-pane">Tab Content Three</div>
//     </div>
//[/hc]

//[hc]
//     <div class="lego-tabs lego-tabs--small lego-tabs--sub" v-tabs="subTabContainer">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item tab-active">Tab One</li>
//         <li class="lego-tabs-nav__item">Tab Two</li>
//         <li class="lego-tabs-nav__item">Tab Three</li>
//       </ul>
//     </div>
//     <div id="subTabContainer">
//         <div class="lego-tabs-pane tab-active">Tab Content One</div>
//         <div class="lego-tabs-pane">Tab Content Two</div>
//         <div class="lego-tabs-pane">Tab Content Three</div>
//     </div>
//[/hc]

// ### Tabs with relationship defined by data attribute

//[hc]
//     <div class="lego-tabs" v-tabs="dataTabContainer">
//       <ul class="lego-tabs-nav">
//         <li class="lego-tabs-nav__item tab-active" data-tab-related="one">Tab One</li>
//         <li class="lego-tabs-nav__item" data-tab-related="two">Tab Two</li>
//         <li class="lego-tabs-nav__item" data-tab-related="three">Tab Three</li>
//       </ul>
//     </div>
//     <div id="dataTabContainer">
//         <div class="lego-tabs-pane tab-active" data-tab-related="one">Tab Content One</div>
//         <div class="lego-tabs-pane" data-tab-related="two">Tab Content Two</div>
//         <div class="lego-tabs-pane" data-tab-related="three">Tab Content Three</div>
//     </div>
//[/hc]

// ## SCSS

.lego-tabs-nav {
  @extend %flex;
  border-bottom: 1px solid map-get($ui-color, base);

  &__item {
    position: relative;
    text-align: center;
    padding: spacer(.5) spacer(1.5);
    margin: 0 spacer(.5);
    border: 1px solid map-get($ui-color, base);
    border-radius: map-get($border-radius, big) map-get($border-radius, big) 0 0;
    border-bottom: 0;
    color: map-get($font-color, blue-ocean);
    font-weight: map-get($font-weight, bold);
    background-color: map-get($background-color, faint);
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &.tab-active {
    }

    &.tab-active {
      background-color: map-get($background-color, blue-ocean);
      border-color: map-get($ui-color, blue-ocean);
      color: map-get($font-color, white);

      &:after {
        content: '';
        display: block;
        height: 3px;
        background: transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
      }
    }
  }
}

.lego-tabs--small {

  .lego-tabs-nav {
    border-width: 1px;
  }

  .lego-tabs-nav__item {
    padding: spacer(0.5) spacer(1);
    font-size: map-get($font-size, micro);
  }
}

.lego-tabs--center {
  .lego-tabs-nav {
    @extend %justify-content--center;
  }

  .lego-tabs-nav__item:first-child {
    margin-left: spacer(0.5);
  }
}

.lego-tabs--sub {
  .lego-tabs-nav__item {
    font-weight: map-get($font-weight, normal);
    border: none;
    background-color: transparent;
    color: map-get($font-color, blue-ocean);

    &.tab-active {
      font-weight: map-get($font-weight, bold);

      &:after {
        background: map-get($background-color, blue-ocean);
        height: 2px;
        bottom: -1px;
      }
    }
  }
}

.lego-tabs-pane {
  display: none;

  &.tab-active {
    display: block;
  }
}

.lego-tabs-container {
  margin-bottom: spacer(2);

  .lego-tabs-pane {
    padding: spacer(2);
    border: 1px solid map-get($ui-color, base);
    border-top: none;
  }
}
