// # Throbber
// Loading spinner available at a few sizes. Throbber color is embedded in the SVG.

// ## Example

//[hc]
//     <svg class="lego-throbber lego-throbber--large">
//       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#throbber"></use>
//     </svg>
//     <svg class="lego-throbber">
//       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#throbber"></use>
//     </svg>
//     <svg class="lego-throbber lego-throbber--small">
//       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#throbber"></use>
//     </svg>
//[/hc]

// ## SCSS

.lego-throbber {
  width: 50px;
  height: 50px;

  &--small {
    width: 20px;
    height: 20px;
  }

  &--large {
    width: 80px;
    height: 80px;
  }
}
