// # Fonts
// Pulls in fonts from self hosting.

// ### Font Support
//
// - woff2: Chrome 26+, Opera 23+
// - woff: Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+

// ### Proxima Light


$font-weights: 200, 300, 400, 500, 600, 700, 800, 900;
$hosting-url: '//dhm5hy2vn8l0l.cloudfront.net/proxima/';

$fonts:(
  200: thin,
  300: light,
  400: reg,
  500: medium,
  600: sbold,
  700: bold,
  800: xbold,
  900: black
);

@each $weight in $font-weights {
  @font-face {
    font-family: 'Proxima';
    font-weight: $weight;
    src: url($hosting-url + 'proximanova-#{map-get($fonts, $weight)}.woff2') format('woff2'),
         url($hosting-url + 'proximanova-#{map-get($fonts, $weight)}.woff') format('woff');
  }
  @font-face {
    font-family: 'Proxima';
    font-weight: $weight;
    font-style: italic;
    src: url($hosting-url + 'proximanova-#{map-get($fonts, $weight)}it.woff2') format('woff2'),
         url($hosting-url + 'proximanova-#{map-get($fonts, $weight)}it.woff') format('woff');
  }
}
