// # Background Trumps
// Adding background colors via classes.

//[hc]
//     <ul class="lego-matrix lego-matrix--1-3">
//       <li><div class="docs-placeholder background--white">background--white</div></li>
//       <li><div class="docs-placeholder background--faint">background--faint</div></li>
//       <li><div class="docs-placeholder background--light">background--light</div></li>
//       <li><div class="docs-placeholder background--muted">background--muted</div></li>
//       <li><div class="docs-placeholder background--medium">background--medium</div></li>
//       <li><div class="docs-placeholder background--blue-medium reverse">background--blue-medium</div></li>
//       <li><div class="docs-placeholder background--blue-dark reverse">background--blue-dark</div></li>
//       <li><div class="docs-placeholder background--warning">background--warning</div></li>
//       <li><div class="docs-placeholder background--bad-news">background--bad-news</div></li>
//       <li><div class="docs-placeholder background--good-news">background--good-news</div></li>
//     </ul>
//[/hc]

.background--white {
  background-color: map-get($background-color, white) !important;
}

.background--faint {
  background-color: map-get($background-color, faint) !important;
}

.background--light {
  background-color: map-get($background-color, light) !important;
}

.background--muted {
  background-color: map-get($background-color, muted) !important;
}

.background--medium {
  background-color: map-get($background-color, medium) !important;
}

.background--blue-medium {
  background-color: map-get($background-color, blue-medium) !important;
}

.background--blue-dark {
  background-color: map-get($background-color, blue-dark) !important;
}

.background--warning {
  background-color: map-get($background-color, warning) !important;
}

.background--bad-news {
  background-color: map-get($background-color, bad-news) !important;
}

.background--good-news {
  background-color: map-get($background-color, good-news) !important;
}
