$margin: 10px;

.tether-element {
  &.tether-element-attached-middle.tether-element-attached-right.tether-target-attached-middle.tether-target-attached-left {
    .oui-pop--over {
      @include arrow(right, center, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-left: -$margin;
  }

  &.tether-element-attached-top.tether-element-attached-right.tether-target-attached-top.tether-target-attached-left {
    .oui-pop--over {
      @include arrow(right, top, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-left: -$margin;
  }

  &.tether-element-attached-bottom.tether-element-attached-right.tether-target-attached-bottom.tether-target-attached-left {
    .oui-pop--over {
      @include arrow(right, bottom, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-left: -$margin;
  }

  &.tether-element-attached-middle.tether-element-attached-left.tether-target-attached-middle.tether-target-attached-right {
    .oui-pop--over {
      @include arrow(left, center, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-left: $margin;
  }

  &.tether-element-attached-top.tether-element-attached-left.tether-target-attached-top.tether-target-attached-right {
    .oui-pop--over {
      @include arrow(left, top, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-left: $margin;
  }

  &.tether-element-attached-bottom.tether-element-attached-left.tether-target-attached-bottom.tether-target-attached-right {
    .oui-pop--over {
      @include arrow(left, bottom, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-left: $margin;
  }

  &.tether-element-attached-center.tether-element-attached-top.tether-target-attached-bottom.tether-target-attached-center {
    .oui-pop--over {
      @include arrow(top, center, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-top: $margin;
  }

  &.tether-element-attached-left.tether-element-attached-top.tether-target-attached-bottom.tether-target-attached-left {
    .oui-pop--over {
      @include arrow(top, left, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-top: $margin;
  }

  &.tether-element-attached-right.tether-element-attached-top.tether-target-attached-bottom.tether-target-attached-right {
    .oui-pop--over {
      @include arrow(top, right, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-top: $margin;
  }

  &.tether-element-attached-center.tether-element-attached-bottom.tether-target-attached-top.tether-target-attached-center {
    .oui-pop--over {
      @include arrow(bottom, center, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-top: -$margin;
  }

  &.tether-element-attached-left.tether-element-attached-bottom.tether-target-attached-top.tether-target-attached-left {
    .oui-pop--over {
      @include arrow(bottom, left, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-top: -$margin;
  }

  &.tether-element-attached-right.tether-element-attached-bottom.tether-target-attached-top.tether-target-attached-right {
    .oui-pop--over {
      @include arrow(bottom, right, map-fetch($color, ui, white), map-fetch($color, ui, base));
    }
    margin-top: -$margin;
  }
}
