////
/// Code
/// @description Monospace code snippets, both inline and multiline.
/// @group Base
/// @example[html] Inline code
///   Text can have <code class="code">code snippets</code> in a sentence.
/// @example[html] Multiline code
///   <pre class="pre"><code><p>A multiline example
///     of code.</p></code></pre>
////

code {
  font-family: map-fetch($font, family monospace);
}

.#{$namespace}pre {
  margin-bottom: spacer(1);
  white-space: pre-wrap;

  code {
    padding: spacer(1);
    background: map-fetch($color, background faint);
    overflow-x: auto;
    display: block;
    border-radius: map-fetch($border, radius base);
    border: 1px solid map-fetch($border, color base);
  }
}

.#{$namespace}code {
  background: map-fetch($color, background faint);
  border-radius: map-fetch($border, radius base);
  border: 1px solid map-fetch($border, color base);
  padding: 1px 3px;
}
