//# Main
// High level defaults establishing font and color.

html {
  font-size: map-get($font-size, base);
  font-family: map-get($font-family, base);
  line-height: map-get($line-height, base);
  font-weight: map-get($font-weight, light);
}

// Set height on `html` and `body` to 100%, html so children can also be full height.

html,
body {
  height: 100%;
}

body {
  min-width: map-get($layout-width, body);
}
