// # Breadcrumb
// Indicate the current page's location.

.lego-breadcrumb {
  @extend %flex;
  background: map-get($background-color, light);
  border-radius: map-get($border-radius, base);
  padding: spacer(0.5) spacer(1);

  > li {
    + li:before {
      color: map-get($font-color, light);
      content: '/\00a0';
      padding: 0 5px 0 8px;
    }
  }

  &__active {
    color: map-get($font-color, medium);
  }
}
