// # Dropdown
// A list of links that drops down from a trigger.

// We use this group to wrap button and the dropdown.

.lego-dropdown-group {
  font-size: map-get($font-size, base);
  display: inline-block;
  position: relative;
  vertical-align: top;
}

%lego-dropdown,
.lego-dropdown {
  @extend %lego-block-list-group;
  background: map-get($background-color, white);
  box-shadow: 0 2px map-get($shadow, light);
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: auto;
  z-index: 1;
  margin-top: 2px;
  text-align: left;

  a {
    @extend %lego-block-list__link;
  }

  &__item {
    white-space: nowrap;
    color: map-get($font-color, base);
  }

  &__item--freeform {
    white-space: normal;

    a {
      padding: 0;
      margin: 0;
      display: inline;
    }
  }

  &--right {
    right: 0;
    left: auto;
  }
}