// # Nav

// Creates simple nav pattens to extend.
// See [nav abstraction explanation](http://tinyurl.com/mdd3fp9).

// ## Basic Nav
// When used on an `ol` or `ul`, this class throws the list into horizontal mode
// e.g.:
//
//[hc]
//     <ul class="nav">
//       <li><a href="#">Home</a></li>
//       <li><a href="#">About</a></li>
//       <li><a href="#">Portfolio</a></li>
//       <li><a href="#">Contact</a></li>
//     </ul>
//[/hc]

%lego-nav,
.lego-nav {
  @extend %flex;

  > li {
    margin-right: spacer(1);

    > a {
      display: block;
    }
  }

// ## Nav Stacked

// `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
//[hc]
//     <ul class="nav nav--stacked">
//       <li><a href="#">Home</a></li>
//       <li><a href="#">About</a></li>
//       <li><a href="#">Portfolio</a></li>
//       <li><a href="#">Contact</a></li>
//     </ul>
//[/hc]

  &--stacked {
    display: block;

    > li {
      margin-right: 0;
    }
  }

// ## Nav Banner

// `.nav--banner` extends `.nav` and centers the list, e.g.:
//[hc]
//     <ul class="nav nav--banner">
//       <li><a href="#">Home</a></li>
//       <li><a href="#">About</a></li>
//       <li><a href="#">Portfolio</a></li>
//       <li><a href="#">Contact</a></li>
//     </ul>
//[/hc]

  &--banner {
    @extend %justify--center;

    > li {
      margin-left: spacer(.5);
      margin-right: spacer(.5);
    }
  }

// ## Nav Fit

// Force a nav to occupy 100% of the available width of its parent. Extends
// `.nav`, e.g.:

//[hc]
//     <ul class="nav nav--fit">
//       <li><a href="#">Home</a></li>
//       <li><a href="#">About</a></li>
//       <li><a href="#">Portfolio</a></li>
//       <li><a href="#">Contact</a></li>
//     </ul>
//[/hc]

  &--fit {
    @extend %flex;

    > li {
      @extend %flex-1;

      > a {
        display: block;
      }
    }
  }
}
