// # Block List
//
// Create big blocky lists of content that, e.g.:
//
// [hc]
//     <ul class="block-list">
//       <li>Foo</li>
//       <li>Bar</li>
//       <li>Baz</li>
//       <li><a href=# class=block-list__link>Foo Bar Baz</a></li>
//     </ul>
// [/hc]

%block-list,
.block-list {
    list-style: none;
    margin-left: 0;

    > li {
        padding: spacer(.5) spacer(1);
    }
}

// For links that will take up full space of list item.

%block-list__link,
.block-list__link {
    display: block;
    padding: spacer(.5) spacer(1);
    margin-top: -(spacer(.5));
    margin-bottom: -(spacer(.5));
    margin-left: -(spacer(1));
    margin-right: -(spacer(1));
}

// ## Block List Ruled
// List that has ruled lines after each list item.

%block-list--rule,
.block-list--rule {
    > li {
        border-bottom: 1px solid map-get($ui-color, base);
    }
}

// ## Block List Group
// Extends ruled list to create a self-contained grouping.

%block-list-group,
.block-list-group {
    @extend %block-list;
    @extend %block-list--rule;
    border: 1px solid map-get($ui-color, base);
    border-radius: map-get($border-radius, base);

    > li:last-child {
        border: none;
    }
}