////
/// Tabs
/// @description Creates a set of tabs.
/// @group Components
/// @example[html] Default sized tabs
///   <div class="#{$namespace}tabs" data-oui-tabs>
///     <ul class="#{$namespace}tabs-nav">
///       <li class="#{$namespace}tabs-nav__item is-active" data-oui-tabs-nav-item>Tab One</li>
///       <li class="#{$namespace}tabs-nav__item" data-oui-tabs-nav-item>Tab Two</li>
///       <li class="#{$namespace}tabs-nav__item" data-oui-tabs-nav-item>Tab Three</li>
///     </ul>
///     <div class="#{$namespace}tabs-pane" data-oui-tabs-pane>
///       <div class="#{$namespace}tabs-pane__item is-active" data-oui-tabs-panes-item>Tab Content One</div>
///       <div class="#{$namespace}tabs-pane__item" data-oui-tabs-panes-item>Tab Content Two</div>
///       <div class="#{$namespace}tabs-pane__item" data-oui-tabs-panes-item>Tab Content Three</div>
///     </div>
///   </div>
/// @example[html] Small tabs
///   <div class="#{$namespace}tabs #{$namespace}tabs--small" data-oui-tabs>
///     <ul class="#{$namespace}tabs-nav">
///       <li class="#{$namespace}tabs-nav__item is-active" data-oui-tabs-nav-item>Tab One</li>
///       <li class="#{$namespace}tabs-nav__item" data-oui-tabs-nav-item>Tab Two</li>
///       <li class="#{$namespace}tabs-nav__item" data-oui-tabs-nav-item>Tab Three</li>
///     </ul>
///     <div class="#{$namespace}tabs-pane" data-oui-tabs-pane>
///       <div class="#{$namespace}tabs-pane__item is-active" data-oui-tabs-panes-item>Tab Content One</div>
///       <div class="#{$namespace}tabs-pane__item" data-oui-tabs-panes-item>Tab Content Two</div>
///       <div class="#{$namespace}tabs-pane__item" data-oui-tabs-panes-item>Tab Content Three</div>
///     </div>
///   </div>
/// @example[html] Center aligned small tabs
///   <div class="#{$namespace}tabs #{$namespace}tabs--small #{$namespace}tabs--center" data-oui-tabs>
///     <ul class="#{$namespace}tabs-nav">
///       <li class="#{$namespace}tabs-nav__item is-active" data-oui-tabs-nav-item>Tab One</li>
///       <li class="#{$namespace}tabs-nav__item" data-oui-tabs-nav-item>Tab Two</li>
///       <li class="#{$namespace}tabs-nav__item" data-oui-tabs-nav-item>Tab Three</li>
///     </ul>
///     <div class="#{$namespace}tabs-pane" data-oui-tabs-pane>
///       <div class="#{$namespace}tabs-pane__item is-active" data-oui-tabs-panes-item>Tab Content One</div>
///       <div class="#{$namespace}tabs-pane__item" data-oui-tabs-panes-item>Tab Content Two</div>
///       <div class="#{$namespace}tabs-pane__item" data-oui-tabs-panes-item>Tab Content Three</div>
///     </div>
///   </div>
/// @example[html] Alternate small tab style with bottom border
///   <div class="#{$namespace}tabs #{$namespace}tabs--small #{$namespace}tabs--sub" data-oui-tabs>
///     <ul class="#{$namespace}tabs-nav">
///       <li class="#{$namespace}tabs-nav__item is-active" data-oui-tabs-nav-item>Tab One</li>
///       <li class="#{$namespace}tabs-nav__item" data-oui-tabs-nav-item>Tab Two</li>
///       <li class="#{$namespace}tabs-nav__item" data-oui-tabs-nav-item>Tab Three</li>
///     </ul>
///     <div class="#{$namespace}tabs-pane" data-oui-tabs-pane>
///       <div class="#{$namespace}tabs-pane__item is-active" data-oui-tabs-panes-item>Tab Content One</div>
///       <div class="#{$namespace}tabs-pane__item" data-oui-tabs-panes-item>Tab Content Two</div>
///       <div class="#{$namespace}tabs-pane__item" data-oui-tabs-panes-item>Tab Content Three</div>
///     </div>
///   </div>
////

.#{$namespace}tabs-nav,
.oui-tabs-nav {
  display: flex;
  border-bottom: 3px solid map-fetch($color, ui, base);

  &__item {
    position: relative;
    text-align: center;
    padding: spacer(1) spacer(1.5);
    border: 1px solid map-fetch($border, color, base);
    border-right: 0;
    border-bottom: 0;
    color: map-fetch($color, text, medium);
    font-weight: 400;
    background-color: map-fetch($color, background, faint);
    cursor: pointer;

    &:first-child {
      border-top-left-radius: map-fetch($border, radius, big);
    }

    &:last-child {
      border-top-right-radius: map-fetch($border, radius, big);
      border-right: 1px solid map-fetch($border, color, base);
    }

    &:hover,
    &.is-active {
      color: map-fetch($color, text, brand);
    }

    &.is-active {
      background-color: map-fetch($color, background, white);
      cursor: default;

      &::after { // Creates the white bar under the active tab.
        content: '';
        display: block;
        height: 3px;
        background: map-fetch($color, background, white);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
      }
    }
  }
}

.#{$namespace}tabs--small,
.oui-tabs--small {

  .#{$namespace}tabs-nav,
  .oui-tabs-nav {
    border-width: 1px;
  }

  .#{$namespace}tabs-nav__item,
  .oui-tabs-nav__item {
    background-color: transparent;
    padding: spacer(0.5) spacer(1);
    font-size: map-fetch($font, size, milli);
  }
}

.#{$namespace}tabs--center,
.oui-tabs--center {
  .#{$namespace}tabs-nav,
  .oui-tabs-nav {
    justify-content: center;
  }

  .#{$namespace}tabs-nav__item:first-child,
  .oui-tabs-nav__item:first-child {
    margin-left: spacer(0.5);
  }
}

.#{$namespace}tabs--sub,
.oui-tabs--sub {
  .#{$namespace}tabs-nav__item,
  .oui-tabs-nav__item {
    border: 0;

    &.is-active::after {
      height: 2px;
      background: map-fetch($color, background, brand);
      bottom: -1px;
    }

    &.tab-disabled {
      @extend %link--disabled;
      cursor: default;
    }
  }
}

.#{$namespace}tabs-pane,
.oui-tabs-pane {

  &__item {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
